*{
    font-family: 'Fuggles', cursive;
font-family: 'Inclusive Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
/* Mar n paddding */
body,
h1,
h2,
h3,
p,
ul {
    
    margin: 0;
    padding: 0;
}
header li{
    opacity: 1;
}
p{

    color: #798777;
}
body  {
    position: fixed;
    background-color: #BDD2B6;

  }
/* Header */
header {
    opacity: 0.8;
    font-size: 25px;
    height: 100px;
    width: 100vw;
    background-color: #A2B29F;
    color: black;
    padding: 20px 0;
    text-align: center;
}
nav ul {
    align-items: flex-end;

    padding: 30px;
}
nav li {
    display: inline;
    margin: 0 130px;

}

nav a {
    color: #798777;
    text-decoration: none;
}
h2 {
    font-size: 2em;
}
.homepagetext{
    display: flex;
    color: black;
    font-size: 45px;
}
.logo{
    opacity: 0.7;
    justify-content: space-between;
    gap: 300px;
    height: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-end;
	align-content: stretch;
}
.logocontainer{
    width: 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: stretch;
}
.homepagefoto1{
    color:  #A2B29F;
    width: 100vw;
    font-size: 35px;
    height: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	align-content: flex-end;
}
.homepagefoto2 img{
    gap: 60px;
    justify-content: space-between;
    padding: 30px;
    flex-direction: row;
}
.homepagetitle{
    font-size: 20px;
}

.backgroundblockcontact{
    width: 100vw;
    height: 100vw;
	display: flex;
}
.contact{
    border-radius: 50px;
    background-color: white;
    width: 500px;
    height: 500px;
}
.contactform{
	display: flex;
	justify-content: center;

}
.contactblok{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vw;
}